<a class="magnetic-button" href='{{ anchor }}'>
    <div class="magnetic-button__filler"></div>
    <span class="magnetic-button__text">
        <span class="magnetic-button__text-inner">{{ text }}</span>
    </span>
</a>

