<div id="mini-cart">
    <div class="mini-cart-title">
        <h6> {{ 'cart.filled.title' | t }}</h6>
      </div>
      
    <div class="mini-cart-contents js-mini-cart-contents">
        {% include 'cart-contents' %}
    </div>
</div>