<div class="content-wrap">

	<div class="block-collection-list">

		<div class="collection-list-wrap">
			{% include 'collection-list' with collection: collection, content: false, max_products: 6, exclude: exclude, show_button: true %}
		</div>


	</div>

	
</div>
