<!-- /snippets/social-sharing.liquid -->
<div class="social-sharing">


    <a target="_blank" href="{{ fb }}" class="btn--share share-facebook" title="Facebook">
      {% include 'icon-facebook' %}
   
    </a>



    <a target="_blank" href="{{ insta }}" class="btn--share share-twitter" title="instagram">
      {% include 'icon-instagram' %}
    
    </a>



</div>
