//BUTTON

.slide-button {
  z-index: 0;
  position: relative;
}

.button,
#mc_embed_signup .button {
  // @include reset-input;
  text-align: center;
  font-size: 1rem;
  color: $white;
  //  border: 3px solid $white;
  border-radius: 100em;
  position: relative;
  padding: 10px 20px;
  display: inline-block;
  z-index: 1;

  &:before {
    background-color: $brown;
    width: 100%;
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    opacity: 1;
    z-index: -1;
    height: 100%;
    border-radius: 2.4rem;
    transform: translate3d(-50%, 0, 0) scale(1);
    transition: opacity 0.33s linear, width 0.5s cubic-bezier(0.26, 1, 0.48, 1),
      background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1),
      transform 0.5s cubic-bezier(0.26, 1, 0.48, 1);
  }

  @media (min-width: #{$screen-md}) {
    padding: 20px 40px 20px 40px;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    &:before {
      transform: translate3d(-50%, 0, 0) scale(1.05);
      background-color: darken($brown, 5%);
    }
    color: $white;
  }

  &:hover {
    &:before {
      transform: translate3d(-50%, 0, 0) scale(1.05);
      background-color: darken($brown, 5%);
    }
    color: $white;
  }

  &.button-cta {
    width: 100%;
    padding: $line-global;
  }

  .text-white & {
    background: $white;
    color: $black;

    &:hover {
      color: $black;
      background: $yellow;
    }
  }
}

.block-button {
  // @include reset-input;
  text-align: center;
  font-size: 1rem;
  z-index: 1;
  color: $white;
  //  border: 3px solid $white;
  border-radius: 100em;
  position: relative;
  padding: 10px 20px;
  display: inline-block;

  &:before {
    background-color: $dark-green;
    width: 100%;
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    opacity: 1;
    z-index: -1;
    height: 100%;
    border-radius: 2.4rem;
    transform: translate3d(-50%, 0, 0) scale(1);
    transition: opacity 0.33s linear, width 0.5s cubic-bezier(0.26, 1, 0.48, 1),
      background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1),
      transform 0.5s cubic-bezier(0.26, 1, 0.48, 1);
  }

  @media (min-width: #{$screen-md}) {
    padding: 20px 40px 20px 40px;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    &:before {
      transform: translate3d(-50%, 0, 0) scale(1.05);
      background-color: darken($dark-green, 5%);
    }
    color: $white;
  }

  .money {
    color: $white;
  }

  &:hover {
    &:before {
      transform: translate3d(-50%, 0, 0) scale(1.05);
      background-color: darken($dark-green, 5%);
    }
    color: $white;
  }

  &.button-cta {
    width: 100%;
    padding: $line-global;
  }

  .text-white & {
    background: $white;
    color: $black;

    &:hover {
      color: $black;
      background: $yellow;
    }
  }
}

.add-to-cart-button,
input[type="submit"] {
  @include reset-input;
  display: inline-block;
  padding: ($line-global/2) $line-global;
  border: 2px solid $dark-green;
  text-align: center;
  font-size: 0.8rem;
  line-height: $line-global;
  background: $brown;
  color: $white;
  transition: all 0.3s ease-in-out;
  border-radius: 25px;
  width: 100%;
  padding: 15px 20px;

  @media (min-width: #{$screen-sm}) {
    font-size: $type-body-med;
  }

  a {
    font-size: 0.8rem;
    font-weight: $type-bold;
    letter-spacing: 2px;
    color: $black;
    transition: all 0.3s ease-in-out;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    background: $dark-green;
  }

  .money {
    color: $white;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    color: $white;
    background: $dark-green;

    .money {
      color: $white;
    }

    a {
      color: $white;
    }
  }

  &.button-cta {
    width: 100%;
    padding: $line-global;
  }

  .text-white & {
    background: $white;
    color: $white;

    &:hover {
      color: $black;
      background: darken($white, 10%);

      .money {
        color: $white;
      }
    }
  }

  * {
    margin-bottom: 0;
  }
}

.item-button {
  color: white;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
  padding: 2px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 0.8rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $yellow;
  }
}

.underline-button {
  @include reset-input;
  display: inline-block;
  width: auto;
  padding: ($line-global/2) $line-global;
  border-bottom: 5px solid $yellow;
  text-align: center;
  font-size: 0.8rem;
  line-height: $line-global;
  background: transparent;
  color: $black;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  letter-spacing: 2px;
  font-weight: $type-bold;

  @media (min-width: #{$screen-sm}) {
    font-size: $type-body-med;
  }

  a {
    color: $black;
    font-size: 0.8rem;
    font-weight: $type-bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;

    @media (min-width: #{$screen-sm}) {
      font-size: $type-body-med;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    background: lighten($black, 10%);
  }

  &:hover {
    color: $white;

    a {
      color: $white;
    }
  }

  &.button-cta {
    width: 100%;
    padding: $line-global;
  }

  * {
    margin-bottom: 0;
  }
}

.black-button,
.green-button {
  @include reset-input;
  display: inline-block;
  width: auto;
  padding: ($line-global/2) $line-global;
  border: 3px solid $dark-green;
  text-align: center;
  font-size: 0.8rem;
  line-height: $line-global;
  background: $green;
  color: $dark-green;
  transition: all 0.3s ease-in-out;
  border-radius: 15px;

  @media (min-width: #{$screen-sm}) {
    font-size: $type-body-med;
  }

  a {
    font-size: 0.8rem;
    font-weight: $type-bold;
    letter-spacing: 2px;
    color: $dark-green;
    transition: all 0.3s ease-in-out;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    background: $dark-green;
  }

  .money {
    color: $dark-green;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    color: $white;
    background: $dark-green;

    .money {
      color: $white;
    }

    a {
      color: $white;
    }
  }

  &.button-cta {
    width: 100%;
    padding: $line-global;
  }

  .text-white & {
    background: $white;
    color: $white;

    &:hover {
      color: $black;
      background: darken($white, 10%);

      .money {
        color: $white;
      }
    }
  }

  * {
    margin-bottom: 0;
  }
}

// END BUTTON

.grey-button {
  @include reset-input;
  display: inline-block;
  width: 100%;
  padding: ($line-global/2) $line-global;
  border: 1px solid $black;
  text-align: center;
  font-size: 0.8rem;
  color: $black;
  text-transform: uppercase;
  line-height: $line-global;
  font-weight: $type-bold;
  background: transparent;

  transition: all 0.3s ease-in-out;
  letter-spacing: 2px;

  @media (min-width: #{$screen-sm}) {
    width: auto;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    background: $black;
  }

  .money {
    color: $black;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    color: $white;
    background: $black;

    * {
      color: $white;
    }
  }

  &.button-cta {
    width: 100%;
    padding: $line-global;
  }

  .text-white & {
    background: $white;
    color: $white;

    &:hover {
      color: $black;
      background: darken($white, 10%);

      .money {
        color: $white;
      }
    }
  }

  * {
    margin-bottom: 0;
    font-size: 0.8rem;
    color: $black;
    text-transform: uppercase;
    line-height: $line-global;
    font-weight: $type-bold;
  }
}

.button-block {
  margin-bottom: 2rem;
  display: block;
}

.article-button {
  margin: 0 auto;
}
