//BUTTON

.slide-button {
  z-index: 0;
  position: relative;
}

.button,
#mc_embed_signup .button{
 // @include reset-input;
  text-align: center;
  font-size: 1rem;
  background: transparent;
  color: $white;
  border: 3px solid $white;
  border-radius: 100em;
  position: relative;
  padding: 10px 20px;
  display: inline-block;
  transition: all 0.6s ease-in;


  @media (min-width: #{$screen-md}) {
    padding: 20px 40px 20px 40px;
  }


  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    color: $white;

    &:before {
      background: $dark-green;
    }
  }

  &:hover {
    color: $white;
    background: $brown;

  }

  &.button-cta {
    width: 100%;
    padding: $line-global;
  }

  .text-white & {
    background: $white;
    color: $black;

    &:hover {
      color: $black;
      background: $yellow;
    }
  }
}

.block-button, input[type=submit], 
.shopify-challenge__button {
  @include reset-input;
  display: inline-block;
  width: auto;
  padding: ($line-global/2) $line-global;
  border: 2px solid $dark-green;
  text-align: center;
  font-size: 0.8rem;
  line-height: $line-global;
  background: $brown;
  color: $white;
  transition: all 0.3s ease-in-out;
  border-radius: 25px;


  @media (min-width: #{$screen-sm}) {
    font-size: $type-body-med;
  }

  a {
    font-size: 0.8rem;
    font-weight: $type-bold;
    letter-spacing: 2px;
    color: $black;
    transition: all 0.3s ease-in-out;

  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    background: $dark-green;
  }

  .money {
    color: $white;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    color: $white;
    background: $dark-green;

    .money {
      color: $white;
    }

    a {
      color: $white;
    }
  }

  &.button-cta {
    width: 100%;
    padding: $line-global;
  }

  .text-white & {
    background: $white;
    color: $white;

    &:hover {
      color: $black;
      background: darken($white, 10%);

      .money {
        color: $white;
      }
    }
  }

  * {
    margin-bottom: 0;
  }
}

.item-button {
  color: white;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
  padding: 2px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 0.8rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $yellow;
  }
}

.underline-button,
.underline-button {
  @include reset-input;
  display: inline-block;
  width: auto;
  padding: ($line-global/2) $line-global;
  border-bottom: 5px solid $yellow;
  text-align: center;
  font-size: 0.8rem;
  line-height: $line-global;
  background: transparent;
  color: $black;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  letter-spacing: 2px;
  font-weight: $type-bold;

  @media (min-width: #{$screen-sm}) {
    font-size: $type-body-med;
  }

  a {
    color: $black;
    font-size: 0.8rem;
    font-weight: $type-bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;

    @media (min-width: #{$screen-sm}) {
      font-size: $type-body-med;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    background: lighten($black, 10%);
  }

  &:hover {
    color: $white;

    a {
      color: $white;
    }
  }

  &.button-cta {
    width: 100%;
    padding: $line-global;
  }

  * {
    margin-bottom: 0;
  }
}

.black-button, .green-button {
  @include reset-input;
  display: inline-block;
  width: auto;
  padding: ($line-global/2) $line-global;
  border: 3px solid $dark-green;
  text-align: center;
  font-size: 0.8rem;
  line-height: $line-global;
  background: $green;
  color: $dark-green;
  transition: all 0.3s ease-in-out;
  border-radius: 15px;


  @media (min-width: #{$screen-sm}) {
    font-size: $type-body-med;
  }

  a {
    font-size: 0.8rem;
    font-weight: $type-bold;
    letter-spacing: 2px;
    color:  $dark-green;
    transition: all 0.3s ease-in-out;

  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    background: $dark-green;
  }

  .money {
    color: $dark-green;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    color: $white;
    background: $dark-green;

    .money {
      color: $white;
    }

    a {
      color: $white;
    }
  }

  &.button-cta {
    width: 100%;
    padding: $line-global;
  }

  .text-white & {
    background: $white;
    color: $white;

    &:hover {
      color: $black;
      background: darken($white, 10%);

      .money {
        color: $white;
      }
    }
  }

  * {
    margin-bottom: 0;
  }
}

// END BUTTON

.grey-button {
  @include reset-input;
  display: inline-block;
  width: 100%;
  padding: ($line-global/2) $line-global;
  border: 1px solid $black;
  text-align: center;
  font-size: 0.8rem;
  color: $black;
  text-transform: uppercase;
  line-height: $line-global;
  font-weight: $type-bold;
  background: transparent;

  transition: all 0.3s ease-in-out;
  letter-spacing: 2px;

  @media (min-width: #{$screen-sm}) {
    width: auto;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    background: $black;
  }

  .money {
    color: $black;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    color: $white;
    background: $black;

    * {
      color: $white;
    }
  }

  &.button-cta {
    width: 100%;
    padding: $line-global;
  }

  .text-white & {
    background: $white;
    color: $white;

    &:hover {
      color: $black;
      background: darken($white, 10%);

      .money {
        color: $white;
      }
    }
  }

  * {
    margin-bottom: 0;
    font-size: 0.8rem;
    color: $black;
    text-transform: uppercase;
    line-height: $line-global;
    font-weight: $type-bold;

  }
}

.button-block {
  margin-bottom: 2rem;
  display: block;
}

.article-button {
  margin: 0 auto;
}


// magentic-button

body {
	--button-border-radius: 40px;
	--button-bg: transparent;
	--button-stroke: #000;
	--button-stroke-width: 1px;
	--button-text: #000;
	--button-bg-hover: #d8d4cf;
	--button-stroke-hover: #000;
	--button-stroke-width-hover: 1px;
	--button-text-hover: #fff;
	--cursor-stroke: #fff;
    --cursor-fill: #fff;
    --cursor-stroke-width: 1px;
	--button-filler: #000;
	--color-bg: #ccc;
}

.magnetic-button {
	cursor: pointer;
	-moz-appearance: none;
	-webkit-appearance: none;
	border-width: var(--button-stroke-width);
	border-color: var(--button-stroke);
	border-style: solid;
	color: var(--button-text);
	background: var(--button-bg);
	border-radius: var(--button-border-radius);
	min-width: 14rem;
	height: 6rem;
	padding: 0;
	margin: 1rem;
	font-family: inherit;
	font-size: 1.5rem;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.magnetic-button:focus,
.magnetic-button--hover {
	outline: none;
	border-width: var(--button-stroke-width-hover);
	border-color: var(--button-stroke-hover);
	color: var(--button-text-hover);
}

.magnetic-button__filler {
	background: var(--button-filler);
	position: absolute;
	width: 150%;
	height: 200%;
	border-radius: 50%;
	top: -50%;
	left: -25%;
	transform: translate3d(0,75%,0);
}

.magnetic-button__text, 
.magnetic-button__text-inner {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}