//BUTTON

.slide-button {
  z-index: 0;
  position: relative;
}

.button,
#mc_embed_signup .button{
 // @include reset-input;
  text-align: center;
  font-size: 1rem;
  background: transparent;
  color: $white;
  border: 3px solid $white;
  border-radius: 100em;
  position: relative;
  padding: 20px 40px 20px 40px;
  display: inline-block;

  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    border: 3px solid $dark-green;
    background: $brown;
    border-radius: 100em;
    left: 3px;
    top: 3px;
    transition: all 0.3s ease-in-out;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    color: $white;

    &:before {
      background: $dark-green;
    }
  }

  &:hover {
    color: $white;

    &:before {
      background: $dark-green;
    }
  }

  &.button-cta {
    width: 100%;
    padding: $line-global;
  }

  .text-white & {
    background: $white;
    color: $black;

    &:hover {
      color: $black;
      background: $yellow;
    }
  }
}

.block-button, input[type=submit], 
.shopify-challenge__button {
  @include reset-input;
  display: inline-block;
  width: auto;
  padding: ($line-global/2) $line-global;
  border: 3px solid $dark-green;
  text-align: center;
  font-size: 0.8rem;
  line-height: $line-global;
  background: $brown;
  color: $white;
  transition: all 0.3s ease-in-out;
  border-radius: 15px;


  @media (min-width: #{$screen-sm}) {
    font-size: $type-body-med;
  }

  a {
    font-size: 0.8rem;
    font-weight: $type-bold;
    letter-spacing: 2px;
    color: $black;
    transition: all 0.3s ease-in-out;

  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    background: $black;
  }

  .money {
    color: $black;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    color: $white;
    background: $black;

    .money {
      color: $white;
    }

    a {
      color: $white;
    }
  }

  &.button-cta {
    width: 100%;
    padding: $line-global;
  }

  .text-white & {
    background: $white;
    color: $white;

    &:hover {
      color: $black;
      background: darken($white, 10%);

      .money {
        color: $white;
      }
    }
  }

  * {
    margin-bottom: 0;
  }
}

.item-button {
  color: white;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
  padding: 2px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 0.8rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $yellow;
  }
}

.underline-button,
.underline-button {
  @include reset-input;
  display: inline-block;
  width: auto;
  padding: ($line-global/2) $line-global;
  border-bottom: 5px solid $yellow;
  text-align: center;
  font-size: 0.8rem;
  line-height: $line-global;
  background: transparent;
  color: $black;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  letter-spacing: 2px;
  font-weight: $type-bold;

  @media (min-width: #{$screen-sm}) {
    font-size: $type-body-med;
  }

  a {
    color: $black;
    font-size: 0.8rem;
    font-weight: $type-bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;

    @media (min-width: #{$screen-sm}) {
      font-size: $type-body-med;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    background: lighten($black, 10%);
  }

  &:hover {
    color: $white;

    a {
      color: $white;
    }
  }

  &.button-cta {
    width: 100%;
    padding: $line-global;
  }

  * {
    margin-bottom: 0;
  }
}

.black-button {
  @include reset-input;
  display: inline-block;
  width: 100%;
  padding: ($line-global/2) $line-global;
  border: 1px solid $black;
  text-align: center;
  font-size: 0.8rem;
  line-height: $line-global;
  background: $black;
  color: $white;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  letter-spacing: 2px;
  font-weight: $type-bold;
  margin-bottom: 0.5rem;

  @media (min-width: #{$screen-sm}) {
    font-size: 0.8rem;
    margin-bottom: 0;
    width: auto;
  }

  &:hover {
    background: transparent;
    color: $black;
    border: 1px solid $black;
  }

  * {
    margin-bottom: 0;
  }
}

// END BUTTON

.grey-button {
  @include reset-input;
  display: inline-block;
  width: 100%;
  padding: ($line-global/2) $line-global;
  border: 1px solid $black;
  text-align: center;
  font-size: 0.8rem;
  color: $black;
  text-transform: uppercase;
  line-height: $line-global;
  font-weight: $type-bold;
  background: transparent;

  transition: all 0.3s ease-in-out;
  letter-spacing: 2px;

  @media (min-width: #{$screen-sm}) {
    width: auto;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    background: $black;
  }

  .money {
    color: $black;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    color: $white;
    background: $black;

    * {
      color: $white;
    }
  }

  &.button-cta {
    width: 100%;
    padding: $line-global;
  }

  .text-white & {
    background: $white;
    color: $white;

    &:hover {
      color: $black;
      background: darken($white, 10%);

      .money {
        color: $white;
      }
    }
  }

  * {
    margin-bottom: 0;
    font-size: 0.8rem;
    color: $black;
    text-transform: uppercase;
    line-height: $line-global;
    font-weight: $type-bold;

  }
}

.button-block {
  margin-bottom: 2rem;
  display: block;
}

.article-button {
  margin: 0 auto;
}


