{% schema %}
  {
    "name": "Footer",
    "settings": [
    {
      "type": "text",
      "id": "social_message",
      "label": "Social sharing buttons heading",
      "default": "Spread the word"
    },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "id": "facebook-url",
        "type": "url",
        "label": "Facebook link"
      },
      {
        "id": "insta-url",
        "type": "url",
        "label": "Instagram link"
      }

    ]
  }
{% endschema %}


{% if section.settings.show_share_buttons %}
  <div class="password-social-sharing">
    <p class="password__form-heading h4 dark-green">{{ section.settings.social_message }}</p>

    {% include 'social-sharing', fb: section.settings.facebook-url, insta: section.settings.insta-url %}
  </div>
{%- comment -%} <p>{{ 'footer.bottom.copyright' | t }}</p>{%- endcomment -%}
 
{% endif %}