<div class="password__image">
  <img src="{{ 'shop-illustration.svg' | asset_url }}" class='password-illustration'> 
</div>

<div class="password-titles">
  <h4 class="password__web-title dark-green">{{ section.settings.website-title }}</h4>
<h1 class="password__title dark-green">{{ section.settings.header }}</h1>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [

    {
      "type": "text",
      "id": "website-title",
      "label": "Title",
      "default": "hutchhouseplants.co.uk"
    },
      {
        "type": "text",
        "id": "header",
        "label": "Heading",
        "default": "Coming Soon"
      }
    ]
  }
{% endschema %}
