.footer-image-band {
  height: $header-height * 3;
  background-image: image-url("footer-band.svg", "master");
  background-size: cover;
}

#footer-global {
  // margin-top: $header-height;

  .footer-inner {
    width: 100%;
    background: $green;
    padding: 5vh $offset-global;
    @include center-between-column;

    @media (min-width: #{$screen-lg}) {
      @include start-between;
      padding-top: 10vh;
    }
  }

  .main-menu-list {
    margin-left: $offset-global;
  }

  .secondary-menu-list {
    .text-link:not(:hover) {
      color: $text-color-light-white;
    }
  }

  .template-index &,
  .template-404 &,
  .template-product &,
  .template-search & {
    margin-top: 0;
  }
}

.footer-right,
.footer-middle,
.footer-left {
  margin: 0;
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
}

.footer-left {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  .link-logo {
    margin: 0 auto;
    margin-top: 5vh;

    @media (min-width: #{$screen-lg}) {
      margin: 0;
    }
  }
}

.footer-middle {
  display: flex;
  align-items: center;

  .header-nav-list {
    .text-link {
      color: $white;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $yellow;
      }
    }
  }
}

.socials {
  @include center-between;
  width: 100%;
  margin: 5vh 0;

  @media (min-width: #{$screen-lg}) {
    @include center-start;
    margin: 0;
  }

  .social-pic {
    width: 30px;
    height: 30px;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    margin: 0 20px;

    @media (min-width: #{$screen-lg}) {
      margin: 0 20px 0 0;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}

.footer-bottom {
  background: $white;

  .footer-bottom-inner {
    @include center-between-column;
    flex-direction: column-reverse;
    padding: 5px;
    width: 95%;
    margin: 0 auto;

    @media (min-width: #{$screen-lg}) {
      @include center-between;
      flex-direction: row;
    }
  }
}

.footer-right {
  display: flex;
  align-items: flex-start;

  .nav-column {
    flex: 1;

    .payment-options {
      margin: 0 auto;
      max-width: 100%;

      @media (min-width: #{$screen-lg}) {
        margin: 5vh 0;
        max-width: 80%;
      }
    }

    .nav_first {
      .text-link-footer {
        line-height: 54px;
        color: $dark-green;
        font-size: 16px;
        font-weight: 700;
        margin: 0;
      }
    }
  }
}

.footer-menu-list {
  margin-left: 0;

  .parent_link {
    @include start-between-column;
    padding: 0;

    li {
      text-indent: 0;
      margin-left: 0;

      &:before {
        content: "";
        padding: 0;
      }

      .text-link {
        color: $white;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: $dark-green;
        }
      }
    }
  }
}

.nav-column-list {
  display: none;

  @media (min-width: #{$screen-lg}) {
    display: block;
  }
}

.nav-social {
  .nav_first {
    display: none;

    @media (min-width: #{$screen-lg}) {
      display: inline-block;
    }
  }
}

.colophon {
  color: $black;
}

.copyright-info {
  margin: 5px auto;
  font-size: 9px;
  text-align: center;

  @media (min-width: #{$screen-sm}) {
    font-size: 10px;
  }

  @media (min-width: #{$screen-lg}) {
    margin: 0;
    font-size: 0.8rem;
  }

  .colophon {
    color: $black;
    font-size: 8px;
    font-weight: 400;

    @media (min-width: #{$screen-sm}) {
      font-size: 10px;
    }

    @media (min-width: #{$screen-lg}) {
      font-size: 0.8rem;
    }
  }
}

// Mailchimp

#mc_embed_signup {
  background: transparent;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
}

.newsletter {
  width: 100%;
  margin-top: 5vh;

  @media (min-width: #{$screen-lg}) {
    width: 70%;
  }

  @media (min-width: #{$screen-xxl}) {
    width: 50%;
  }

  h6 {
    margin: 0;
  }

  .main-contact-buttons {
    padding: 10px 0;

    input {
      width: 98%;
      background: transparent;
      border: 1px solid $white;
      margin: 0.2rem;
      color: $white;
      color: $white;
      font-size: 0.8rem;
    }
  }
}

#mc_embed_signup form {
  padding: 0;
}

.text-white .button,
.text-white #mc_embed_signup .button {
  background: transparent;
  color: $white;
  line-height: normal;
  height: auto;

  @media (min-width: #{$screen-lg}) {
    height: 3em;
  }
}

.mc-field-group {
  width: 100%;
}

input.required {
  background: transparent;
  border: 1px solid $white;
  margin-bottom: 10px;
  color: $white;
  font-size: 0.8rem;
}

.indicates-required {
  color: $grey;
  padding: 5px 0;
}

#mc_embed_signup_scroll {
  text-align: center;

  @media (min-width: #{$screen-lg}) {
    text-align: left;
  }
}

.payment-list-logos {
  padding: 0;
  @include center-center;
    margin-bottom: 5px;
    margin-top: 5px;

  li {
    @include center-center;
    margin: 0;

    &:before {
      content: "";
      padding-right: none;
    }
  }
}

.payment-icon {
  width: 2em;
  margin: 0 5px;
  
  @media (min-width: #{$screen-lg}) {
    width: 3.5em;
  }
}

.footer-logo-info {
  @include center-center-column;

  @media (min-width: #{$screen-lg}) {
    @include center-center;
  }

  .logo-main {
    max-width: 150px;
  }

  .footer-logo-text {
    padding-top: 20px;
    padding-left: 0;
    text-align: center;

    @media (min-width: #{$screen-lg}) {
      padding-left: 20px;
      padding-top: 0;
      text-align: left;
      width: 50%;
    }

    @media (min-width: #{$screen-xl}) {
      width: 100%;
    }


    h6 {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 5px;
      color: $white;
    }
  }
}