.line-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: $line-global 0;
 // border-top: $standard-border;

  &:first-of-type {
    border-top: 0;
  }

  .line-image {
    width: 30%;
    margin-right: $line-global;

    img {
      width: 100%;
      border-radius: 15px;
  }
  }

  .line-info {
    width: 60%;
    @include center-between-column;
  }

  .info-content,
  .info-actions {
    @include center-between;
    width: 100%;

    > *:first-child {
      margin-right: $line-global;
    }
  }

  .info-content {
    align-items: flex-start;
    margin-bottom: $line-global;
  }

  .line-price {
    color: $black;
    text-align: right;
  }

  .quantity {
    color: $text-color;
  }

  &:last-of-type {
    border-bottom: $standard-border;
  }
}

.variant-line-item-title {
  font-size: 12px;
}