// Global Styles
@import "global/variables";
@import "global/mixins";
@import "global/typography";
@import "global/base";
@import "global/functions";
@import "global/button";


.password-html {
    position: relative;
    margin: 0;
  //  cursor: none;
    background: $white;

    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        opacity: 0.4;
    }

    body {
        background: transparent;
    }
    
}

.password-body {
    padding-top: 20px !important;
}

.follow {
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: 3px $dark-green solid;
    z-index: 99;
    border-radius: 100%;
    transition: all .1s ease;
  //  pointer-events: none;
  }



  .follow-mouse-active {
    left: -25px;
    top: -25px;
    width: 50px;
    height: 50px;
    background-color: $white;
    border: 3px $white solid;
    opacity: 0.8;
    filter: saturate(0.5);

}


  .password__image {
    max-width: 80%;
    margin: 0 auto;

    @media (min-width: #{$screen-lg}) {
        max-width: 100%;
      }
  }

  .password__web-title, .password__title, .btn--share {
    transition: all .6s ease;
  }

  .password--page-inner {
      @include center-center-column;
      margin: 5vh 0;

      .shopify-section {
          width: fit-content;
      }


  }


  .password-titles {
      margin: 3em 0;

    * {
        text-align: center;
        margin-bottom: 10px;
    }
  }

  #login_form {
    width: 350px;
    text-align: center;

    @media (min-width: #{$screen-lg}) {
        width: 650px;
      }


}


.password-social-sharing {
    margin-top: 20px;
}

.icon {
    width: 32px;
  //  margin: 5px;

    path, circle {
        fill: $dark-green;
    }
}

label {
    color: $dark-green;
}

.social-sharing {
    @include center-between;
}