// SLIDESHOW
//---------------------------------

.hero-slideshow {
  width: 100%;
  height: 90vh;
  // margin-top: 10vh;
  overflow: hidden;

  @media (min-width: #{$screen-lg}) {
    height: 90vh;
  }

  .slideshow-wrap {
    position: relative;
    height: 100%;
  }

  .slide {
    width: 100%;
    height: 90vh;
    position: relative;
    z-index: 0;
    background-color: $light-white;
  }

  .slide-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $black;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      vertical-align: bottom;
      opacity: 0.6;
    }
  }

  .slide-text {
    width: 100%;
    margin: 0 auto;

    @media (min-width: #{$screen-lg}) {
      margin: 0;
    }

    .hero-logo {
      width: 45vw;
      margin-bottom: 10px;
      //  margin-top: 20px;

      @media (min-width: #{$screen-sm}) {
        width: 250px;
      }

      @media (min-width: #{$screen-lg}) {
        width: 300px;
      }

      @media (min-width: #{$screen-xxxl}) {
        width: 400px;
      }
    }
  }

  .left-aligned {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    @media (min-width: #{$screen-lg}) {
      align-items: flex-start;
    }

    * {
      // text-shadow: $drop-shadow;
      margin: 0;
      text-align: center;
      width: 100%;

      @media (min-width: #{$screen-lg}) {
        text-align: left;
      }
    }
  }

  .right-aligned {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: #{$screen-lg}) {
      align-items: flex-end;
    }

    * {
      //  text-shadow: $drop-shadow;
      margin: 0;
      text-align: center;

      @media (min-width: #{$screen-lg}) {
        text-align: right;
      }
    }
  }

  .middle-aligned {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    * {
      // text-shadow: $drop-shadow;
      margin: 0;
      text-align: center;
    }
  }

  .slide-content {
    width: 100%;
    position: absolute;
    bottom: 50%;
    transform: translate(0, 50%);
    padding: 10px;
    left: 0;
    right: 0;

    @media (min-width: #{$screen-lg}) {
      padding: 40px 10vw;
    }

    p {
      margin-top: $line-global;
    }

    .button {
      margin-top: $offset-global / 2;
      width: fit-content;
    }
  }
}

.image-popup {
  width: 80vw;
  height: auto;

  @media (min-width: #{$screen-lg}) {
    width: 50vw;
    height: auto;
  }
}

.pop-up-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.hero-large-screen {
  display: none;

  @media (min-width: #{$screen-md}) {
    display: block;
  }
}

.hero-portrait-screen {
  display: block;

  @media (min-width: #{$screen-md}) {
    display: none;
  }
}

// Hero Waves
//----------------------------------------------

.wave-container {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.waves {
  position: relative;
  width: 100%;
  height: 8vh;
  margin-bottom: -7px;
  min-height: 60px;
  max-height: 150px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}

// PAGE CATEGROY
//---------------------------------

.category-item-group {
  @include center-center-column;

  @media (min-width: #{$screen-lg}) {
    @include start-between;
  }
}

.category-link {
  margin: 1em;
}

.category-image {
  height: 25vh;

  @media (min-width: #{$screen-lg}) {
    height: auto;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    opacity: 0.8;
    border-radius: 25px;

    @media (min-width: #{$screen-xxl}) {
      opacity: 1;
    }
  }
}

// VIDEO
//----------------------------------

.video-library-grid {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: #{$screen-md}) {
    flex-direction: row;
  }

  .video-library-section {
    width: 100%;

    @media (min-width: #{$screen-md}) {
      width: 50%;
    }

    @media (min-width: #{$screen-lg}) {
      width: 30%;
    }
  }
}

.video-section {
  position: relative;
  background: $black;
  height: 50vh;
  width: 100vw;

  @media (min-width: #{$screen-md}) {
    height: 80vh;
  }

  img {
    opacity: 0.4;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;
  }

  .video-section-title {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 20%;
    width: 90%;

    transition: all 0.4s ease-in-out;
    opacity: 1;
    visibility: visible;

    @media (min-width: #{$screen-lg}) {
      top: 40%;
      width: 50%;
    }

    * {
      text-align: center;
    }
  }
}

.video-icon {
  span.inline-icon.play-button-svg {
    width: 60px;
    margin: 1em;
  }
}

.block-button {
  * {
    fill: $black;
    transition: all 0.3s ease-in-out;
    margin-bottom: 0 !important;
  }

  &:hover {
    * {
      fill: $white;
    }
  }

  .play-button-svg {
    fill: $black;
    width: 22px;
    margin-left: 5px;
  }
}

.video-item {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  overflow: hidden;

  .black-overlay {
    position: absolute;
    background: $black;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: all;
    transition: all 0.4s ease-in-out;
    visibility: visible;
  }

  iframe {
    width: 100vw;
    height: 56.25vw;
    /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh;
    /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: auto;
  }
}

.hide-video-text {
  opacity: 0 !important;
  visibility: hidden !important;
}

//Page Video
.page-video-section {
  background: $black;
  position: relative;
  height: 60vh;
}

.page-video-image {
  opacity: 0.5;
  height: 100%;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
}

.video-link {
  width: 100%;
  height: 100%;
  pointer-events: all;
}

.page-video-section-title {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  padding-top: 15vh;
  transition: all 0.4s ease-in-out;
  opacity: 1;
  visibility: visible;

  @media (min-width: #{$screen-lg}) {
    padding-top: 20vh;
  }

  * {
    text-align: center;
    fill: black;
  }

  .video-title-desc {
    max-width: 80%;
    margin: 0 auto;
  }
}

.page-video-icon {
  position: static;

  .video-pop-up-group {
    position: static;

    .block-button {
      background: transparent;
      font-size: 0;
      border: 0;
      fill: $white;
      @include center-between;

      * {
        fill: $white;
        transition: fill 0.3s ease-in-out;
      }

      .play-button-svg {
        fill: $white;
        width: 70px;
        margin: 0;
        transform: translateX(-15%);
      }

      &:hover {
        background: transparent;

        * {
          fill: $yellow;
        }
      }
    }
  }
}

// CONTENT
//----------------------------------

.content-block-collection {
  padding-top: 5vh;
  padding-bottom: 5vh;
  max-width: 90%;
  margin: 0 auto;

  @media (min-width: #{$screen-lg}) {
    max-width: 80%;
  }

  @media (min-width: #{$screen-xxl}) {
    padding-top: 15vh;
    padding-bottom: 15vh;
  }
}

.content-block-image_text {
  .image-text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    > * {
      flex: 0 0 50%;
    }

    &.direction-rtl {
      flex-direction: row-reverse;
    }

    &.bgcolor-black {
      .block-content {
        background-color: $black;
      }
    }
  }

  .block-image {
    img {
      display: block;
      width: 100%;
    }
  }

  .block-content {
    padding: $offset-global;
  }

  .block-content-inner {
    height: 100%;
    width: 100%;
    align-items: flex-start;
    max-width: 250px;
    margin: 0 auto;
  }

  p,
  .button {
    margin-top: $line-global;
  }
}

.content-block-quote {
  background: $light-white;
  padding: $line-global * 5 $offset-global;
  text-align: center;

  blockquote {
    text-align: left;
    width: 100%;
    max-width: 660px;
    margin: 0 auto;
  }

  .button {
    margin-top: $offset-global;
  }
}

// FOOTER NOTICE
//---------------------------------------------

#shopify-section-footer-notices {
  clear: both;
}

.delivery-info-section {
  @media (min-width: #{$screen-xxl}) {
  }

  .delivery-info-group {
    display: flex;

    .delivery-notice {
      padding: 1em 1em;
      background: $light-white;
      flex: 1;
      border: 1px solid rgb(209, 209, 209);
      transition: all 0.3s ease-in-out;

      &:hover {
        background: darken($light-white, 10%);
      }

      p {
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: 2em;
        display: none;

        @media (min-width: #{$screen-lg}) {
          display: block;
        }
      }
    }
  }
}

// TITLE SECTION

#page__title_section {
  padding-top: 5vh;

  @media (min-width: #{$screen-xxl}) {
    padding-top: 10vh;
  }

  h6 {
    line-height: 1.5;
  }
}

.title-section {
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
  padding-top: 5vh;
  padding-bottom: 5vh;

  @media (min-width: #{$screen-lg}) {
    max-width: 70%;
  }

  @media (min-width: #{$screen-xxl}) {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  * {
    margin: 3vh 0;
  }

  p {
    max-width: 100%;
    margin: 0 auto;

    @media (min-width: #{$screen-lg}) {
      max-width: 60%;
    }
  }
}

// INSTAGRAM SECTION
//-------------------------------------------------

.insta_inner-section {
  display: flex;
  flex-direction: column;

  @media (min-width: #{$screen-lg}) {
    flex-direction: row;
  }

  .insta_item {
    flex: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .insta_item_text {
    @include center-between;
    padding: 5vh 0;

    @media (min-width: #{$screen-lg}) {
      padding: 0;
    }

    .insta-item-text-group {
      text-align: center;
      max-width: 90%;

      @media (min-width: #{$screen-md}) {
        max-width: 80%;
      }

      @media (min-width: #{$screen-xxl}) {
        max-width: 60%;
      }

      h4 {
        margin-bottom: 1rem;
      }
    }
  }
}

// BLOG SECTION
//-------------------------------------------------

.page-category {
  position: relative;
  overflow: hidden;

  .grit-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: 100%;
    z-index: 0;
    height: 100%;
    object-fit: cover;
  }
}

.section-contents {
  position: relative;
  z-index: 1;
  padding: 10vh 0;

  .collection-block-info {
    text-align: center;
  }

  .blog-item-group {
    @include start-between;
    max-width: 80%;
    margin: 0 auto;

    .blog_item {
      margin: 10px;
    }
  }

  .collection-block-button {
    text-align: center;
  }
}

.underline-svg {
  width: 10%;
  margin-bottom: 5vh;
}

// WHAT CYCLIST ARE YOU
//--------------------------------------------

.cycle-title {
  padding-top: 0vh;
  padding-bottom: 0;
}

.reel {
  //transform: rotate(5deg);
  margin-bottom: 5vh;
}

.cycle_list {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 25vh;
  display: flex;
  align-items: center;

  @media (min-width: #{$screen-lg}) {
    height: 35vh;
  }
}

.cyclist-page-section {
  background: $black;
  @include center-between;
  height: 80vh;

  @media (min-width: #{$screen-lg}) {
    height: 60vh;
  }

  .title-section {
    .stroke {
      -webkit-text-stroke: 2px;
      -webkit-text-fill-color: transparent;
      margin-bottom: 0;
    }

    h1 {
      font-size: 4rem;
      margin-top: 0;

      @media (min-width: #{$screen-md}) {
        font-size: 5rem;
      }

      @media (min-width: #{$screen-lg}) {
        font-size: 8rem;
      }

      @media (min-width: #{$screen-xl}) {
        font-size: 10rem;
      }
    }

    h2 {
      margin-top: 0;
    }

    h2 .stroke {
      -webkit-text-stroke: 1px;
    }

    p {
      color: white;
    }
  }
}

.cycle_parent_link_yellow {
  display: block;
  margin: 0;
  position: absolute;
  width: 200%;
  animation: marquee 10s linear infinite;

  span {
    float: left;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &:hover {
    animation-play-state: paused;
  }
}

.cycle_text_link_yellow {
  font-size: 3vh;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $yellow;
  transition: all 0.3s ease-in-out;
  margin: 0 10px;

  &:hover {
    -webkit-text-fill-color: $yellow;
  }

  @media (min-width: #{$screen-xxxl}) {
    font-size: 5vh;
  }
}

.cycle_parent_link {
  display: flex;
  justify-content: space-between;
  margin: 0;
  position: absolute;
  width: 200%;
  animation: marquee 20s linear infinite;

  span {
    float: left;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    @media (min-width: #{$screen-lg}) {
      width: 20%;
    }

    @media (min-width: #{$screen-xl}) {
      width: 15%;
    }
  }

  &:hover {
    animation-play-state: paused;
  }

  .cycle_text_link {
    font-size: 8vh;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $black;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    margin: 0 10px;

    @media (min-width: #{$screen-md}) {
      font-size: 10vh;
    }

    @media (min-width: #{$screen-lg}) {
      font-size: 12vh;
    }

    @media (min-width: #{$screen-xxxl}) {
      font-size: 20vh;
    }

    &:hover {
      -webkit-text-fill-color: $black;
      transition: all 0.5s ease-out;
    }
  }
}

@keyframes marquee {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

// STORE SELECTOR
//--------------------------------------------

.multiple-stores {
  @include center-between;

  .store-item {
    .store {
      border: 1px solid $white;
      display: block;
      @include center-between;
      margin: 0 5px;

      p {
        color: $white;
        padding: 0 5px;
        margin: 0;
      }

      .store-flag {
        width: 42px;
        height: auto;
        padding: 0 5px;

        img {
          object-fit: cover;
          vertical-align: middle;
          width: 100%;
        }
      }
    }
  }
}

.store.active-store {
  background: $white;

  p {
    color: $black !important;
  }
}

.header-store-selector {
  display: none;

  @media (min-width: #{$screen-lg}) {
    display: block;
  }
}

.mobile-store-selector {
  display: block;
  width: fit-content;
  margin-top: 2vh;

  @media (min-width: #{$screen-lg}) {
    display: none;
  }
}

// Logo Bar

.image-logo-bar {
  padding: 0.5em 0;

  .logo-bar-title {
    text-align: center;
    margin-top: 1rem;
  }

  .image-bar {
    @include center-between;
    flex-wrap: wrap;
    max-width: 90%;
    margin: 0 auto;

    img {
      max-width: 50px;

      @media (min-width: #{$screen-sm}) {
        max-width: 120px;
      }

      @media (min-width: #{$screen-lg}) {
        max-width: 180px;
      }
    }
  }
}

// trust pilot

#trustpilot-widget-trustbox-0-wrapper {
  /* margin: 4em 0; */
  padding: 2em 0;
  z-index: 4 !important;

  .trustpilot-widget {
    z-index: 4 !important;
  }
}

.homepage-category {
  margin: 5vh 0;
}

.category-item-group {
  max-width: 100%;
  margin: 0 auto;

  @media (min-width: #{$screen-lg}) {
    max-width: 70%;
  }
}

.category-bottom {
  text-align: center;
  position: relative;
  z-index: 1;
}

// Portfolio

.portfolio-item {
  width: 95%;
  text-align: center;
  height: 25vh;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  margin: 10px 0;
  background: $dark-green;

  @media (min-width: #{$screen-lg}) {
    height: 8vh;
    margin: 0;
    background: transparent;
  }
}

.portfolio--item_image {
  display: block;
  width: 100%;
  object-fit: cover;
  min-height: 25vh;
  opacity: 0.8;

  @media (min-width: #{$screen-lg}) {
    display: none;
  }
}

.portfolio__categories {
  @include center-center-column;
  padding: 2em 0;
  position: relative;
}

.portfolio-link {
  font-size: 3vh;
  margin: 10px 0;
  font-family: $text-font;
  color: $white;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  &:hover {
    color: $white;
  }

  @media (min-width: #{$screen-lg}) {
    color: #485448;
    font-size: 5vh;
  }


}

.portfolio__categories a:hover {
  z-index: 1;
}

.portfolio__image--l,
.portfolio__image--s {
  pointer-events: none; /* important to be able to hover over links under the image */
  position: absolute;
  width: 50vw;
  top: 11vh;
  left: 24vw;
  overflow: hidden;
  background-color: $white;
  visibility: hidden;
  border-radius: 25px;
  display: none;

  @media (min-width: #{$screen-lg}) {
    width: 28vw;
    display: block;
  }
}
.portfolio__image--l {
  top: 30%;
  padding-bottom: 60vw;
  left: 0;
  transform: translateX(-50%);
  left: 50%;

  @media (min-width: #{$screen-lg}) {
    top: 20%;
    display: block;
    padding-bottom: 30vw;
    left: 10%;
    transform: 0;
  }

  @media (min-width: #{$screen-xxl}) {
    top: 0%;
  }
}
.portfolio__image--s {
  display: none;
  width: 15vw;
  top: 11vh;
  left: 54vw;
  padding-bottom: 20vw;

  @media (min-width: #{$screen-lg}) {
    display: block;
    top: 30%;
  }

  @media (min-width: #{$screen-xxl}) {
    top: 0;
  }
}
.image_inside {
  position: absolute;
  opacity: 0.8;
  top: 0;
  left: -3%;
  width: 105%;
  height: 100%;
  background-size: cover;
}

.category-item-group {
  padding-bottom: 2em;
  
}

#insta-feed {
  margin-bottom: 30px !important;

  .instafeed-container {
    width: 30%;
    border: 3px solid white;
  }
}

section.instafeed-container {
  position: relative;
  z-index: 1;
}

.trustpilot-widget {
  margin-bottom: 2em;
}

// Testimonial Sliders

.testimonial-group {
  // max-width: 80% !important;
}

.testimonial-section {
  margin: 5vh 0;

  @media (min-width: #{$screen-lg}) {
    margin: 10vh 0;
  }

  .swiper-wrapper {
    margin-bottom: 4em;
  }
}

.testimonial-title-inner {
  position: relative;
  margin: 0 auto;
  max-width: 90%;

  @media (min-width: #{$screen-lg}) {
    max-width: 70%;
  }

  @media (min-width: #{$screen-xl}) {
    max-width: 60%;
  }
}

.title-image_section {
  margin: 0;

  img {
    margin: 0;
    width: 80%;

    @media (min-width: #{$screen-sm}) {
      width: fit-content;
    }
  }
}

.testimonial-inner {
  padding: 10vh 0;
  max-width: 95%;
  margin: 0 auto;
  border-radius: 50px;
  height: 100%;
  display: flex;
  align-items: center;

  @media (min-width: #{$screen-md}) {
    max-width: 80%;
  }

  .comma {
    position: absolute;
    width: 1em;

    @media (min-width: #{$screen-lg}) {
      width: 4em;
    }
  }

  .comma-top {
    top: 0;
    left: 0;
  }

  .comma-bottom {
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
  }

  * {
    text-align: center;
  }
}

.review-stars {
  text-align: center;
  margin-bottom: 2em;

  .review-star {
    width: 2em;
  }
}
