#page {
  .page-content {
    margin-top: $offset-global;
  }

  .page-inner {
    max-width: 500px;
    margin: 0 auto;
  }
}

// SUPPORT PAGE

.no-header_content {
  text-align: center;
  padding-top: 25px;

  @media (min-width: #{$screen-lg}) {
    padding-top: 50px;
  }
}

.support-link-item {
  background: $light-white;
  @include center-between-column;
  min-width: 100%;
  margin: 0.5em;
  flex: 1;
  transition: all 0.4s ease-in-out;

  @media (min-width: #{$screen-sm}) {
    min-width: 45%;
    @include center-between;
  }

  @media (min-width: #{$screen-lg}) {
    min-width: 30%;
    margin: 1em;
  }

  &:hover {
    // box-shadow: $drop-shadow;
    background: darken($light-white, 5%);
  }

  .support-text {
    padding: 4em 1em;
    text-align: center;

    * {
      margin: 0;
      color: $black;
      transition: all 0.4s ease-in-out;
    }
  }
}

.support-pages {
  margin: 5vh 0;

  @media (min-width: #{$screen-lg}) {
    margin: 10vh 0;
  }

  .support-inner {
    @include center-between;
    flex-wrap: wrap;
  }
}

.support-icon {
  width: 40px;
  height: 40px;
  border: 3px solid $black;
  border-radius: 50%;
  @include center-between;
  margin: 10px auto !important;

  @media (min-width: #{$screen-md}) {
    width: 50px;
    height: 50px;
  }

  * {
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media (min-width: #{$screen-md}) {
      width: 20px;
      height: 20px;
    }
  }

  .catalogue {
    background-image: url("007-book.png");
  }

  .faqs {
    background-image: url("002-gear.png");
  }

  .video-library {
    background-image: url("video.png");
  }

  .contact-us {
    background-image: image-url("003-email.png");
  }

  .privacy-policy {
    background-image: image-url("006-help.png");
  }

  .legal {
    background-image: image-url("005-list.png");
  }

  .delivery-returns {
    background-image: image-url("004-send.png");
  }

  .sales-enquiries {
    background-image: image-url("001-user.png");
  }
}

.extra-page {
  // margin-top: 15vh;

  // @media (min-width: #{$screen-lg}) {
  //   margin-top: 8vh; }

  .page-header {
    background: $black;
    height: fit-content;
    @include center-between;
    padding-bottom: 5vh;
    text-align: center;
    padding-top: 5vh;

    @media (min-width: #{$screen-lg}) {
      padding-top: 0;
      min-height: 50vh;
      padding-bottom: 0;
    }

    .page-title {
      padding-top: 5vh;

      @media (min-width: #{$screen-lg}) {
        padding-top: 20vh;
      }
    }
  }

  .page-content.white * {
    color: $white;
    text-align: center;
  }
}

// SALES ENQUIRY FORM
//-----------------------------------------------

.shopify-challenge__container {
  max-width: 500px;
  margin: 10vh auto;
}

.shopify-challenge__message {
  padding-top: 5vh;
}

.contact-form-info {
  width: 100%;
  text-align: center;
  margin-top: 25px;
}

.main-contact {
  @include start-between-column;

  padding: 5vh 0;

  @media (min-width: #{$screen-lg}) {
    @include start-between;
  }

  .form-item {
    width: 100%;

    * {
      display: block;
      width: 100%;
      margin: 0.5em;

      @media (min-width: #{$screen-xxl}) {
        width: 80%;
        margin: 1em;
      }
    }

    .block-button {
      height: initial !important;

      &:hover {
        color: $yellow !important;
      }
    }

    @media (min-width: #{$screen-lg}) {
      width: 45%;
    }
  }
}

// CONTACT US PAGE
//---------------------------------

.contact-info {
  background: $black;
  padding-bottom: 5vh;

  .contact-section {
    @include start-start;
    flex-wrap: wrap;

    .contact-profile {
      width: 100%;
      margin: 0;

      @media (min-width: #{$screen-xs}) {
        margin: 0.1em;
        width: 48%;
      }

      @media (min-width: #{$screen-xl}) {
        width: 30%;
        margin: 1em;
      }

      .contact-profile-image {
        border-radius: 50%;
        border: 4px solid $yellow;
        overflow: hidden;
        position: relative;
        height: 150px;
        width: 150px;
        margin: 10px auto;

        @media (min-width: #{$screen-md}) {
          height: 250px;
          width: 250px;
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: all 0.3s ease-in-out;
        }

        .image-1 {
          opacity: 1;
        }

        .image-2 {
          opacity: 0;
        }

        &:hover {
          .image-1 {
            opacity: 0;
          }

          .image-2 {
            opacity: 1;
          }
        }
      }

      .contact-profile-text {
        text-align: center;

        p {
          font-size: 0.8rem;

          @media (min-width: #{$screen-sm}) {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

// What cyclist are you
//---------------------------------

.cyclist-block-section {
  &:nth-child(even) {
    .cyclist-block {
      flex-direction: column-reverse;

      @media (min-width: #{$screen-lg}) {
        flex-direction: row-reverse;
      }
    }
  }

  .cyclist-block {
    @include center-between-column;
    flex-direction: column-reverse;
    height: 100%;

    @media (min-width: #{$screen-lg}) {
      @include center-between;
    }

    .cyclist-block-item {
      width: 100%;
      height: 100%;
      @include center-between;

      @media (min-width: #{$screen-lg}) {
        width: 50%;
      }
    }

    .block-image {
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        vertical-align: bottom;
      }
    }

    .block-text {
      .cyclist-text-inner {
        width: 100%;
        margin: 0 auto;

        @media (min-width: #{$screen-lg}) {
          width: 80%;
        }

        .cyclist-block-title {
          margin-top: 10vh;
          padding-top: 5vh;
          margin-bottom: 5vh;
          width: 95%;
          margin: 0 auto;

          @media (min-width: #{$screen-lg}) {
            margin: 0;
          }

          @media (min-width: #{$screen-xxl}) {
            width: 80%;
            margin: 0;
            padding-bottom: 2em;
          }
        }

        .cyclist-collection-list {
          position: relative;
          display: flex;
          flex-wrap: nowrap;
          overflow-x: scroll;
          width: 90%;
          margin: 5vh auto;

          @media (min-width: #{$screen-lg}) {
            margin: 0;
            width: 100%;
          }

          .product-card {
            min-width: 42.5%;
            width: 50%;
            margin: 5px;
            border: 1px solid $light-white;
            position: relative;
            flex: 1;
            margin-bottom: 40px;
            text-align: left;

            @media (min-width: #{$screen-md}) {
              min-width: 30%;
              width: 30%;
            }

            @media (min-width: #{$screen-xxl}) {
              min-width: 30%;
              width: 30%;
            }
          }
        }
      }
    }
  }
}

.cyclist-section-group {
  // scroll-snap-type: y mandatory;
  // overflow-y: scroll;
  height: fit-content;

  @media (min-width: #{$screen-lg}) {
    //  height: 100vh;
  }

  .cyclist-block-section {
    scroll-snap-align: start;
    height: fit-content;
    overflow: hidden;

    @media (min-width: #{$screen-lg}) {
      min-height: 90vh;
    }
  }
}

.cyclist-title {
  background: $black;
  @include center-between;
  min-height: 100vh !important;

  .title-section {
    .stroke {
      -webkit-text-stroke: 2px;
      -webkit-text-fill-color: transparent;
      margin-bottom: 0;
    }

    h1 {
      font-size: 4rem;
      margin-top: 0;

      @media (min-width: #{$screen-md}) {
        font-size: 5rem;
      }

      @media (min-width: #{$screen-lg}) {
        font-size: 7rem;
      }

      @media (min-width: #{$screen-xxl}) {
        font-size: 10rem;
      }
    }

    h2 {
      margin-top: 0;
    }

    h2 .stroke {
      -webkit-text-stroke: 1px;
    }

    p {
      color: white;
      max-width: 100%;

      @media (min-width: #{$screen-lg}) {
        max-width: 80%;
      }

      @media (min-width: #{$screen-xxl}) {
        max-width: 60%;
      }
    }
  }
}

// FAQ PAGE
//---------------------------------

.general-faq-section {
  border-top: 1px solid $light-white;
}

.faq-item-group {
  @include start-between-column;
  padding: 5vh 0;

  @media (min-width: #{$screen-md}) {
    @include start-between;
  }

  .faq-item-20 {
    width: 100%;

    @media (min-width: #{$screen-md}) {
      width: 30%;
    }

    .faq-item-text {
      padding: 5vh 0;
      text-align: center;

      @media (min-width: #{$screen-md}) {
        text-align: left;
      }

      * {
        margin-bottom: 2rem;
      }

      @media (min-width: #{$screen-md}) {
        display: block;
      }
    }
  }

  .faq-item-80 {
    width: 100%;

    @media (min-width: #{$screen-md}) {
      width: 60%;
    }

    .tab-section {
      padding: 0;
    }
  }
}

// VIDEO LIBRARY
//---------------------------------

.video-inner {
  max-width: 95%;
  margin: 0 auto;

  .title-section {
    max-width: 90%;
  }

}

.video-library-item {
  padding-top: 50%;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;

  iframe {
    width: 100%;
    height: inherit;
    /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


  }
}

.video-library-section {
  margin-top: 5vh;
}

// OUR STORY /ABOUT
//----------------------

.story-info {
  background: $white;
  padding-bottom: 5vh;
}

.about-us-section {
  padding: 5vh 0;
  @include center-between-column;

  @media (min-width: #{$screen-lg}) {
    @include start-between;
  }

  @media (min-width: #{$screen-xxl}) {
    @include center-between;
  }

  .about-image {
    margin: 2vh 0;

    @media (min-width: #{$screen-lg}) {
      width: 42%;
      margin: 0;
    }

    @media (min-width: #{$screen-xxl}) {
      width: 25%;
    }
  }

  .about-text-area {
    width: 100%;

    @media (min-width: #{$screen-lg}) {
      width: 55%;
    }

    @media (min-width: #{$screen-xxl}) {
      width: 70%;
    }
  }
}

.story-info .inner .about-us-section {
  &:nth-child(even) {
    flex-direction: column;

    @media (min-width: #{$screen-lg}) {
      flex-direction: row-reverse;
    }
  }
}

//

.shopify-policy__container {
  max-width: 90vw;
  margin: 10em auto;
}