#page {
  .page-content {
    margin-top: $offset-global;
  }

  .page-inner {
    max-width: 500px;
    margin: 0 auto;
  }
}

// SUPPORT PAGE

.no-header_content {
  text-align: center;
  padding-top: 25px;

  @media (min-width: #{$screen-lg}) {
    padding-top: 50px;
  }
}

.support-link-item {
  background: $light-white;
  @include center-between-column;
  min-width: 100%;
  margin: 0.5em;
  flex: 1;
  transition: all 0.4s ease-in-out;

  @media (min-width: #{$screen-sm}) {
    min-width: 45%;
    @include center-between;
  }

  @media (min-width: #{$screen-lg}) {
    min-width: 30%;
    margin: 1em;
  }

  &:hover {
    // box-shadow: $drop-shadow;
    background: darken($light-white, 5%);
  }

  .support-text {
    padding: 4em 1em;
    text-align: center;

    * {
      margin: 0;
      color: $black;
      transition: all 0.4s ease-in-out;
    }
  }
}

.support-pages {
  margin: 5vh 0;

  @media (min-width: #{$screen-lg}) {
    margin: 10vh 0;
  }

  .support-inner {
    @include center-between;
    flex-wrap: wrap;
  }
}

.support-icon {
  width: 40px;
  height: 40px;
  border: 3px solid $black;
  border-radius: 50%;
  @include center-between;
  margin: 10px auto !important;

  @media (min-width: #{$screen-md}) {
    width: 50px;
    height: 50px;
  }

  * {
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media (min-width: #{$screen-md}) {
      width: 20px;
      height: 20px;
    }
  }

  .catalogue {
    background-image: url("007-book.png");
  }

  .faqs {
    background-image: url("002-gear.png");
  }

  .video-library {
    background-image: url("video.png");
  }

  .contact-us {
    background-image: image-url("003-email.png");
  }

  .privacy-policy {
    background-image: image-url("006-help.png");
  }

  .legal {
    background-image: image-url("005-list.png");
  }

  .delivery-returns {
    background-image: image-url("004-send.png");
  }

  .sales-enquiries {
    background-image: image-url("001-user.png");
  }
}

.extra-page {
  // margin-top: 15vh;

  // @media (min-width: #{$screen-lg}) {
  //   margin-top: 8vh; }

  .page-header {
    background: $black;
    height: fit-content;
    @include center-between;
    padding-bottom: 5vh;
    text-align: center;
    padding-top: 5vh;

    @media (min-width: #{$screen-lg}) {
      padding-top: 0;
      min-height: 50vh;
      padding-bottom: 0;
    }

    .page-title {
      padding-top: 5vh;

      @media (min-width: #{$screen-lg}) {
        padding-top: 20vh;
      }
    }
  }

  .page-content.white * {
    color: $white;
    text-align: center;
  }
}

// SALES ENQUIRY FORM
//-----------------------------------------------

.shopify-challenge__container {
  max-width: 500px;
  margin: 10vh auto;
}

.shopify-challenge__message {
  padding-top: 5vh;
}

.contact-form-info {
  width: 100%;
  text-align: center;
  margin-top: 25px;
}

.main-contact {
  @include start-between-column;

  padding: 5vh 0;

  @media (min-width: #{$screen-lg}) {
    @include start-between;
  }

  .form-item {
    width: 100%;

    * {
      display: block;
      width: 100%;
      margin: 0.5em;

      @media (min-width: #{$screen-xxl}) {
        width: 80%;
        margin: 1em;
      }
    }

    .block-button {
      height: initial !important;

      &:hover {
        color: $yellow !important;
      }
    }

    @media (min-width: #{$screen-lg}) {
      width: 45%;
    }
  }
}

// CONTACT US PAGE
//---------------------------------

.contact-info {
  background: $black;
  padding-bottom: 5vh;

  .contact-section {
    @include start-start;
    flex-wrap: wrap;

    .contact-profile {
      width: 100%;
      margin: 0;

      @media (min-width: #{$screen-xs}) {
        margin: 0.1em;
        width: 48%;
      }

      @media (min-width: #{$screen-xl}) {
        width: 30%;
        margin: 1em;
      }

      .contact-profile-image {
        border-radius: 50%;
        border: 4px solid $yellow;
        overflow: hidden;
        position: relative;
        height: 150px;
        width: 150px;
        margin: 10px auto;

        @media (min-width: #{$screen-md}) {
          height: 250px;
          width: 250px;
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: all 0.3s ease-in-out;
        }

        .image-1 {
          opacity: 1;
        }

        .image-2 {
          opacity: 0;
        }

        &:hover {
          .image-1 {
            opacity: 0;
          }

          .image-2 {
            opacity: 1;
          }
        }
      }

      .contact-profile-text {
        text-align: center;

        p {
          font-size: 0.8rem;

          @media (min-width: #{$screen-sm}) {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

// FAQ PAGE
//---------------------------------

.general-faq-section {
  border-top: 1px solid $light-white;
}

.faq-item-group {
  @include start-between-column;
  padding: 5vh 0;

  @media (min-width: #{$screen-md}) {
    @include start-between;
  }

  .faq-item-20 {
    width: 100%;

    @media (min-width: #{$screen-md}) {
      width: 30%;
    }

    .faq-item-text {
      padding: 5vh 0;
      text-align: center;

      @media (min-width: #{$screen-md}) {
        text-align: left;
      }

      * {
        margin-bottom: 2rem;
      }

      @media (min-width: #{$screen-md}) {
        display: block;
      }
    }
  }

  .faq-item-80 {
    width: 100%;

    @media (min-width: #{$screen-md}) {
      width: 60%;
    }

    .tab-section {
      padding: 0;
    }
  }
}

// OUR STORY /ABOUT
//----------------------

.about-page-content {
  margin-top: 10vh;

  @media (min-width: #{$screen-md}) {
    margin-top: 0;
  }

  .full-width-section {
    &:nth-child(odd) {
      background: $light-white;

      .about-us-section {
        flex-direction: column;

        @media (min-width: #{$screen-lg}) {
          flex-direction: row-reverse;
        }

        .about1 {
          grid-area: 1 / 1 / 2 / 2;

          @media (min-width: #{$screen-lg}) {
            grid-area: 1 / 2 / 2 / 3;
          }
        }
        .about2 {
          grid-area: 4 / 1 / 5 / 2;

          @media (min-width: #{$screen-lg}) {
            grid-area: 2 / 2 / 3 / 3;
          }
        }
        .about3 {
          grid-area: 2 / 1 / 4 / 2;

          @media (min-width: #{$screen-lg}) {
            grid-area: 1 / 1 / 3 / 2;
            @include center-start;
          }
        }
      }
    }
  }
}

.about-intro {
  position: relative;
  border-radius: 25px;
  margin-top: 4em;
  margin-bottom: 2em;

  @media (min-width: #{$screen-lg}) {
    margin-top: 5em;
    margin-bottom: 3em;
  }

  @media (min-width: #{$screen-xxl}) {
    margin-top: 10em;
    margin-bottom: 5em;
  }

  img {
    width: 100%;
    border-radius: 25px;
  }
}

.about-h6 {
  * {
    text-align: center;
  }
}

.title-about-section {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;

  * {
    color: $white;
    margin-bottom: 0.5rem;
    text-shadow: 2px 2px 20px #00000085;

    @media (min-width: #{$screen-md}) {
      margin-bottom: 1rem;
    }
  }
}

.about-us-section {
  display: grid;
  grid-template-columns: 1fr;
  // grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-auto-rows: minmax(min-content, max-content);

  @media (min-width: #{$screen-lg}) {
    grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: repeat(2, 1fr);
  }
}

.about1 {
  grid-area: 1 / 1 / 2 / 2;
  text-align: center;

  @media (min-width: #{$screen-lg}) {
    grid-area: 1 / 1 / 2 / 2;
    text-align: left;
    @include start-end-column;
  }
}
.about2 {
  grid-area: 4 / 1 / 5 / 2;

  @media (min-width: #{$screen-lg}) {
    grid-area: 2 / 1 / 3 / 2;
    @include start-end-column;
  }
}
.about3 {
  @include center-center;
  grid-area: 2 / 1 / 4 / 2;

  @media (min-width: #{$screen-lg}) {
    grid-area: 1 / 2 / 3 / 3;
    @include center-end;
  }

  img {
    width: 100%;
    margin-bottom: 25px;

    @media (min-width: #{$screen-lg}) {
      width: auto;
      margin-bottom: 0;
      max-height: 70vh;
      max-width: 80%;
    }
  }
}

.no-bottom-margin {
  margin-bottom: 0 !important;
}

.about-us-section {
  // @include center-center-column;
  padding: 5vh 0;

  @media (min-width: #{$screen-lg}) {
    // @include center-between;
    padding: 10vh 0;
  }

  .about-image,
  .about-text-area {
    width: 100%;
    padding: 25px 0;
    text-align: left;
    // display: flex;

    @media (min-width: #{$screen-lg}) {
      // width: 45%;
      padding: 0;
    }

    .illo {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;

      @media (min-width: #{$screen-lg}) {
        width: 80%;
      }
    }
  }
}

.about-h6 {
  padding-bottom: 0;

  @media (min-width: #{$screen-md}) {
    padding-bottom: 5em;
  }

  h3 {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 2em;

    @media (min-width: #{$screen-md}) {
      max-width: 80%;
    }
  }
}

.mission-section {
  padding-top: 5em;
  margin: 5vh 0;
  position: relative;
  @include center-center-column;

  @media (min-width: #{$screen-lg}) {
    margin-top: 10em;
  }

  .inner {
    text-align: center;

    .mission-statement-circle {
      width: 90vw;
      height: 90vw;
      // background: $brown;
      background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIj48ZGVmcz48cGF0dGVybiBpZD0icGF0dGVybiIgd2lkdGg9IjUwIiBoZWlnaHQ9IjUwIiB2aWV3Qm94PSIwIDAgNDAsNDAiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSgwKSAiPjxyZWN0IGlkPSJwYXR0ZXJuLWJhY2tncm91bmQiIHdpZHRoPSI0MDAlIiBoZWlnaHQ9IjQwMCUiIGZpbGw9InJnYmEoMTMzLCAxMTIsIDEwNywxKSI+PC9yZWN0PiA8cGF0aCBmaWxsPSJyZ2JhKDE0MiwgMTE5LCAxMTMsMSkiIGQ9Ik0yMCA1IGEgMjAgMjAgMCAwIDEgNDAgMCBoMTAgYSAxMCAxMCAwIDAgMSAtMjAgMCBhIDEwIDEwIDAgMCAwIC0yMCAwIGEgMTAgMTAgMCAwIDEgLTIwIDAgYSAxMCAxMCAwIDAgMCAtMjAgMCBoLTEwIGEgMjAgMjAgMCAwIDEgNDAgMCB6Ij48L3BhdGg+PHBhdGggZmlsbD0icmdiYSgxNDQsIDEyMiwgMTE2LDEpIiBkPSJNMCAyNSBhIDIwIDIwIDAgMCAxIDQwIDAgaDEwIGEgMTAgMTAgMCAwIDEgLTIwIDAgYSAxMCAxMCAwIDAgMCAtMjAgMCBhIDEwIDEwIDAgMCAxIC0yMCAwIHoiPjwvcGF0aD48cGF0aCBmaWxsPSJyZ2JhKDE0MiwgMTE5LCAxMTMsMSkiIGQ9Ik0yMCA0NSBhIDIwIDIwIDAgMCAxIDQwIDAgaDEwIGEgMTAgMTAgMCAwIDEgLTIwIDAgYSAxMCAxMCAwIDAgMCAtMjAgMCBhIDEwIDEwIDAgMCAxIC0yMCAwIGEgMTAgMTAgMCAwIDAgLTIwIDAgaC0xMCBhIDIwIDIwIDAgMCAxIDQwIDAgeiI+PC9wYXRoPjwvcGF0dGVybj4gIDwvZGVmcz4gPHJlY3QgZmlsbD0idXJsKCNwYXR0ZXJuKSIgaGVpZ2h0PSIxMDAlIiB3aWR0aD0iMTAwJSI+PC9yZWN0Pjwvc3ZnPg==");
      @include center-center;
      border-radius: 50%;
      position: relative;

      @media (min-width: #{$screen-lg}) {
        width: 80vh;
        height: 80vh;
      }

      .mission-statement-div {
        padding: 2vh;

        h4 {
          font-size: 5vw;
          color: white;

          @media (min-width: #{$screen-lg}) {
            font-size: 5vh;
          }
        }
      }
    }
  }

  .side-plant {
    z-index: 0;
    display: none;

    @media (min-width: #{$screen-lg}) {
      display: block;
    }
  }

  .side-plant-left {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .side-plant-right {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

// .story-info {
//   background: $white;
//   padding-bottom: 5vh;
// }

// .about-us-section {
//   padding: 5vh 0;
//   @include center-between-column;

//   @media (min-width: #{$screen-lg}) {
//     @include center-between;
//   }

//   @media (min-width: #{$screen-xxl}) {
//     @include center-between;
//   }

//   .about-image {
//     margin: 2vh 0;

//     @media (min-width: #{$screen-lg}) {
//       width: 42%;
//       margin: 0;
//     }

//     @media (min-width: #{$screen-xxl}) {
//       width: 25%;
//     }
//   }

//   .about-text-area {
//     width: 100%;

//     @media (min-width: #{$screen-lg}) {
//       width: 55%;
//     }

//     @media (min-width: #{$screen-xxl}) {
//       width: 70%;
//     }
//   }
// }

// .story-info .inner .about-us-section {
//   &:nth-child(even) {
//     flex-direction: column;

//     @media (min-width: #{$screen-lg}) {
//       flex-direction: row-reverse;
//     }
//   }
// }

// //

// .shopify-policy__container {
//   max-width: 90vw;
//   margin: 10em auto;
// }

// Delivery

.delivery-options {
  @include center-start-column;
  margin: 25px 0;
}

.delivery-box {
  border: 2px $green solid;
  border-radius: 15px;
  @include center-center-column;
  margin: 10px 0;
  background: #d7e4d7;
  width: 100%;
  padding: 15px 5px;

  &:first-of-type {
    margin-left: 0;
  }
}

.delivery-text {
  padding: 0 15px;
  text-align: left;
  @include start-between;
  width: 100%;

  .font-bolder {
    margin-bottom: 5px;

    @media (min-width: #{$screen-xxxl}) {
      margin-bottom: 10px;
    }
  }

  * {
    margin: 0;
  }
}

.delivery-price {
  width: 100%;
  padding: 0 15px;

  p {
    text-align: left;
  }
}

// Frequently Asked Questions

.faq-title-top-heading {
  text-align: center;
}

.faq-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 4em;

  .faq-menu-item {
    width: 100%;
    margin-bottom: 2em;

    @media (min-width: #{$screen-lg}) {
      width: 50%;
    }

    @media (min-width: #{$screen-xxl}) {
      width: 30%;
    }

    .product-detail-tabs {
      max-width: 95%;

      summary {
        border: 0;
        position: relative;
        padding-top: 0;

        h6 {
          margin-bottom: 15px;
          max-width: 80%;
          line-height: 1.5;
          font-size: 1.2rem;

          @media (min-width: #{$screen-lg}) {
            font-size: 1.4rem;
          }

          .cross-icon {
            position: absolute;
            top: 0;
            right: 0;
            width: 20px;
            height: 20px;
          }
        }
      }

      .content {
        border: 0;
      }
    }
  }

  .faq-menu-item-header {
    width: 100%;
    border-bottom: 2px solid $green;
    margin-bottom: 50px;
    margin-top: 50px;
  }
}

.collection-anchor-title.middle-highlight-faq {
  margin: 25px auto;

  @media (min-width: #{$screen-lg}) {
    margin: 25px 0;
  }
}

#shopify-section-faq-page {
  background: #fdfdfd;
  padding-top: 5vh;
}

.faq-contact_section {
  margin-bottom: 50px;
  text-align: center;
  border-bottom: none !important;
  margin-top: 50px;
  padding: 2em 0;
  border-radius: 35px;
  box-shadow: 2px 2px 30px #00000008;
}

.faq-contact-bottom {
  position: relative;
  text-align: center;
  margin-bottom: 0px;

  .button {
    z-index: 1;
  }
}

.contact-form__section {
  flex-direction: column-reverse !important;

  @media (min-width: #{$screen-lg}) {
    flex-direction: row !important;
  }
}

.image-section-one-tree {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-gap: 10px;
  margin: 2em 0;

  @media (min-width: #{$screen-lg}) {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .div1 {
    grid-area: 1 / 1 / 3 / 3;

    @media (min-width: #{$screen-lg}) {
      grid-area: 1 / 1 / 3 / 3;
    }
  }
  .div2 {
    grid-area: 3 / 1 / 4 / 3;

    @media (min-width: #{$screen-lg}) {
      grid-area: 1 / 3 / 2 / 5;
    }
  }
  .div3 {
    grid-area: 4 / 1 / 5 / 3;

    @media (min-width: #{$screen-lg}) {
      grid-area: 2 / 3 / 3 / 5;
    }
  }
  .div4 {
    grid-area: 5 / 1 / 7 / 3;

    @media (min-width: #{$screen-lg}) {
      grid-area: 1 / 5 / 3 / 7;
    }
  }
}

.one-tree-div {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.one-tree-text-section {
  @include center-center-column;

  @media (min-width: #{$screen-lg}) {
    @include start-between;
  }

  .inner-text {
    width: 100%;
    padding: 0 10px;

    @media (min-width: #{$screen-lg}) {
      width: 40%;
    }
  }
}

section.hutch-section {
  margin: 0;

  @media (min-width: #{$screen-lg}) {
    margin: 2em 0;
  }
}

.hutch__info-bottom {
  background: whitesmoke;
  max-width: 100%;
  margin: 0 auto;
  padding: 40px 0;

  @media (min-width: #{$screen-lg}) {
    max-width: 80%;
    border-radius: 25px;
  }

  .hutch--inner-bottom {
    @include center-between-column;
    max-width: 90%;
    margin: 0 auto;

    @media (min-width: #{$screen-lg}) {
      max-width: 80%;
      @include center-between;
    }

    .hutch-logo {
      width: 100%;
      @include center-center;
      margin: 5px 0;

      @media (min-width: #{$screen-lg}) {
        width: 20%;
      }

      img {
        max-width: 100px;

        @media (min-width: #{$screen-lg}) {
          max-width: 200px;
        }
      }
    }
    .hutch-text {
      width: 100%;
      margin: 5px 0;
      text-align: center;

      @media (min-width: #{$screen-lg}) {
        width: 70%;
        text-align: left;
      }

      * {
        margin-bottom: 10px;
      }
    }
  }
}

.about-one-section {
  margin: 2em 0;
}

.visiting-us--hutch {
  max-width: 100% !important;
}

.about-para {
  br {
    margin-bottom: 1em;
  }
}

.middle_title-section {
  text-align: center;
}

// 50-50 Section

.fifty-section {
  @include center-center-column;
  padding: 5vh 0;

  @media (min-width: #{$screen-lg}) {
    @include center-between;
    padding: 10vh 0;
  }

  .fifty-image,
  .fifty-text-area {
    width: 100%;
    padding: 25px 0;
    text-align: center;

    @media (min-width: #{$screen-lg}) {
      width: 45%;
      text-align: left;
    }

    .illo {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}


// logos

.logo-section--inner {
  max-width: 80%;

  @media (min-width: #{$screen-lg}) {
    max-width: 70%;
  }

  @media (min-width: #{$screen-xxl}) {
    max-width: 60%;
  }

  @include center-between;
  flex-wrap: wrap;
  margin: 5vh auto;

  .logo-item {
    width: 50%;
    @include start-center;

    @media (min-width: #{$screen-lg}) {
      width: 25%;
    }

    img {
      max-width: 80px;
      padding: 10px 0;

      @media (min-width: #{$screen-lg}) {
        max-width: 120px;
      }
    }
}
}

.influence_logos {
  padding-bottom: 5vh;

  @media (min-width: #{$screen-lg}) {
    padding-bottom: 10vh;
  }

  img {
    max-width: 40px !important;

    @media (min-width: #{$screen-md}) {
      max-width: 80px !important;
    }


    @media (min-width: #{$screen-lg}) {
      max-width: 100px !important;
    }
    

  }
}

.intro-business-im {
  margin-bottom: 0 !important;
}


.logo-business-local {


  margin-bottom: 5vh;

  @media (min-width: #{$screen-lg}) {
    margin-bottom: 10vh;
  }

}


// contact page

.main-contact-form {

  input  {
    margin: 15px 0;
  }

}

// opening hours

.opening-hours-box {
  width: 100%;
  border-radius: 15px;
  background: #d8c6bd;

  @media (min-width: #{$screen-lg}) {
    width: fit-content;
  }


  .opening-hours-inner {
    @include center-center;
    width: 100%;
    padding: 10px;

    @media (min-width: #{$screen-lg}) {
      width: fit-content;
      margin: 0 10px;
    }

    .oh-image, .oh-text {
      text-align: left;
      padding: 10px;
      margin: 0;

      @media (min-width: #{$screen-xl}) {
        margin: 0 25px;
      }
    }

  }

}

.illo-opening {
  width: 80px !important; 

  @media (min-width: #{$screen-lg}) {
    width: 120px !important; 
  }
}